<div class="container">

	<div class="adauga-produs">
        <h1>Adauga produs</h1>
        <form action="/adauga-produs" method="POST">
            <input placeHolder="Produs" type="text" id="produs" name="produs"><br><br>
            <input placeHolder="Pret" type="text" id="pret" name="pret"><br><br>
            <button type="submit">Adauga</button>
        </form>
	</div>

</div>