<div class="container">

	<div class="autentificare">
        <h1>Autentificare</h1>
        <form action="/verifica-autentificare" method="POST">
            <input placeHolder="Nume utilizator" type="text" id="utilizator" name="utilizator"><br><br>
            <input placeholder="Parolă" type="password" id="pass" name="pass"><br><br>
            <button type="submit">Autentificare</button>
        </form>
	</div>

</div>