<div class="contact-content">
        	
                <div class="intrebari">
                    <h2>întrebări generale</h2>
                    <p class="subtitle">Tel/Fax:</p>
                    <p>0233 295 667</p>
                    <p class="subtitle">Tel:</p>
                    <p>0721 306 185</p>
                    <p>0722 390 587</p>
                    <p>0723 184 976</p>
                    <p class="subtitle">E-mail: scmirceasianasrl@gmail.com</p>
                </div>
                <div class="corespondenta">
                    <h3>Corespondență</h3>
                    <p>Adresă:</p>
                    <p>527070 - Com. Margineni, str. Troitei, nr. 10,<br> jud. Neamt <br>
                        Romania
                    </p>	
                </div>
</div>
