<div class="sides-container-activitate">	
    <div class="left-side">
        <img src="https://denver-electronics.com/media/22907/since-1990.png?mode=pad&width=560" alt="logo">
    </div>
    <div class="right-side">
        <p>S.C. Mircea & Ana S.R.L. și-a început activitatea în anul 1990, cu o suprafață de 20 ha teren arabil, luat în arendă, cu un număr de 2 angajați, având obiectul principal cultivarea cerealelor (exclusiv orez), plantelor leguminoase și plantelor producătoare de semințe oleaginoase.</p>
        <p>Societatea este adiministrată de Mircea Ion și de cei 3 membri ai familiei, atât tehnologic, cât și economic.</p>
    </div>
</div>

<div class="sides-container-investitii">
    <div class="left-side">
        <h2>Investiții proprii</h2>
        <p>Din anul 1990 până în prezent, societatea a investit în dezvoltarea fermei cu noi tehnologii, mașini și utilaja agricole, linii de sortare și de ambalare, sisteme de irigații. Cu ajutorul investițiilor proprii, și-a extins suprafața de teren arabil la 350 ha, pe raza comunei Mărgineni în județul Neamț, a mărit numărul de angajați la 5, a construit un depozit conform standardelor UE, cu o capacitate de 300 tone de cereale, dotat cu sistem automat de reglare și control al temperaturii</p>
    </div>
    <div class="right-side"><img src="https://financer.com/app/uploads/sites/14/2021/01/stocks.png" alt="inv"></div>
</div>