
    <div class="home-description">	
        <div class="home-title">
            <h2>Bine Ați venit!</h2>
        </div>
        <p>SC Mircea & Ana SRL este producător și distribuitor <br>
        de cartofi pentru <br>	
        sămânță și consum, cartofi pentru industrializare, <br>
        grâu pentru sămânță și panificație, <br>
        legume, porumb, sfeclă de zahăr, soia, <br>
        floarea soarelui, respectiv rapiță.</p>
    </div>	
