
<div class="noutati-description">	
    <div class="noutati-title">
        <h1>Noutăți</h1>
    </div>
</div>
<div class="sides-container-activitate">	
    <div class="left-side">
        <img src="https://kwizda-agro.ro/wp-content/uploads/2021/02/amalgerol.png" alt="logo">
    </div>
    <div class="right-side">
        <h2>AMALGEROL ESSENCE</h2>
        <p>AMALGEROL ESSENCE este un biostimulent natural multifuncțional, de înaltă calitate pentru aplicare foliară la cereale, semințe oleaginoase, culturi de fructe și legume, podgorii și altele. Acțiunea sa de neegalat este cunoscută de mulți fermieri din peste 30 de țări</p>
        <p>AMALGEROL ESSENCE joacă un rol cheie în combaterea buruienilor la porumb. Acest lucru este dovedit de următorul exemplu din practică: pentru comparație au fost luate două câmpuri din zona orașului Vidin, pe care porumbul a fost plantat în același timp de doi producători agricoli diferiți. În ambele câmpuri, porumbul a fost tratat pe 9 mai 2020 cu același produs de protecție a plantelor - erbicid cu substanța activă mezotrione. În cel de-al doilea câmp porumbul a fost tratat cu erbicidul în combinație cu biostimulentul AMALGEROL ESSENCE în doză de 2 l/ha.</p>
    </div>
</div>
<div class="sides-container-seceta">
    <div class="left-side">
        <h2>Amplu protest al fermierilor.</h2>
        <p>In conditiile in care despagubirile pentru seceta nu au fost acordate inca, iar mai multe categorii de sprijin au fost injumatatite in acest an, mai multi fermieri au decis sa protesteze in jurul Palatului Parlamentului, unde s-au deplasat cu tractoarele.</p>
        <p>Asociatia Forta Fermierilor se lupta pentru apararea drepturilor agricultorilor romani, insa anul acesta nu a avut rezultate in ceea ce priveste drepturile venite din partea autoritatilor.</p>
        <p>Fermierii s-au strans pentru a protesta in jurul Palatului Parlamentului din Bucuresti pentru a protesta cu tractoare. Astfel doresc sa isi arate nemultumirile fata de autoritati in speranta ca se va schimba ceva Fermierii din Romania nu au primit despagubiri pentru seceta. Subventiile au fost injumatatite anul acesta fata de 2020.</p>
    </div>
    <div class="right-side"><img src="https://www.stiriagricole.ro/wp-content/uploads/2015/09/paris-tractoare-protest.jpg" alt="inv"></div>
</div>

<div class="sides-container-bonus">	
    <div class="left-side">
        <img src="https://www.agroinfo.ro/pictures/diverse/fermier-sprijin_b.jpg" alt="logo">
    </div>
    <div class="right-side">
        <h2>Subvenții-bonus pentru fermieri!</h2>
        <p>Negocieri astăzi la Bruxelles pentru subvențiile care le vor fi acordate fermierilor în noua Poltică Agricolă Comună. Ministrul agriculturii din România, Adrian Oros, participă la aceste discuții alături de omologii săi din celelalte state membre UE. Miercuri s-au adus în dezbatere subvențiile-bonus de care să beneficieze fermierii care contribuie la obiectivele de mediu. </p>
        <p>Negocierile cu privire la reforma PAC, menite să „ecologizeze” agricultura de pe continent, dar considerate insuficiente de către ONG-urile de mediu, sunt în plină desfășurare la Bruxelles, în vederea finalizării unui acord săptămâna aceasta.Miniștrii europeni ai agriculturii au început miercuri o întâlnire de două zile pentru a da un impuls negocierilor dintre europarlamentari și reprezentanții statelor membre, scrie <a href="https://www.france24.com/fr/info-en-continu/20210526-ue-les-n%C3%A9gociations-sur-la-pac-dans-la-derni%C3%A8re-ligne-droite">France 24</a> publicație franceză care a relatat ce s-a discutat astăzi la Bruxelles</p>
       
    </div>
</div>